In [1]:
#importing required modules 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#creating column names
#loading csv file into a dataframe and assigning columns names as well
tbl_cols = ['draw_dt', 'first_num', 'second_num', 'third_num', 'fourth_num', 'fifth_num', 'mega_ball']
mm_tbl = pd.read_csv('winning_numbers_by_date_pd.txt',  header=None, names=tbl_cols, parse_dates=['draw_dt'])

In [3]:
print(mm_tbl.dtypes)

draw_dt       datetime64[ns]
first_num              int64
second_num             int64
third_num              int64
fourth_num             int64
fifth_num              int64
mega_ball              int64
dtype: object

In [4]:
mm_tbl.sort_values('draw_dt',ascending=False)

,draw_dt,first_num,second_num,third_num,fourth_num,fifth_num,mega_ball
0,2017-09-26,1,10,57,66,75,4
1,2017-09-22,5,39,54,63,66,15
2,2017-09-19,9,28,31,50,61,10
3,2017-09-15,18,24,34,38,58,3
4,2017-09-12,26,37,41,54,65,3
5,2017-09-08,4,5,14,26,73,14
6,2017-09-05,11,17,59,70,72,1
7,2017-09-01,4,13,31,50,64,12
8,2017-08-29,2,13,17,35,73,3
9,2017-08-25,17,38,42,51,65,11
10,2017-08-22,24,35,46,50,51,7
11,2017-08-18,1,31,34,40,75,6
12,2017-08-15,7,16,20,66,73,7
13,2017-08-11,23,33,53,56,58,6
14,2017-08-08,11,17,50,52,74,14
15,2017-08-04,9,17,25,63,71,4
16,2017-08-01,20,22,52,57,73,7
17,2017-07-28,4,6,31,49,52,11
18,2017-07-25,2,5,26,58,60,6
19,2017-07-21,18,31,36,50,74,10
20,2017-07-18,8,12,23,51,73,6
21,2017-07-14,11,12,24,32,73,1
22,2017-07-11,7,18,24,55,74,10
23,2017-07-07,2,9,11,28,60,10
24,2017-07-04,16,39,47,53,71,15
25,2017-06-30,10,38,51,55,64,6
26,2017-06-27,4,21,45,52,57,14
27,2017-06-23,12,20,53,66,74,11
28,2017-06-20,2,15,41,49,63,3
29,2017-06-16,18,22,26,30,44,9
...,...,...,...,...,...,...,...
381,2014-01-31,3,9,13,47,52,8
382,2014-01-28,7,16,28,53,60,2
383,2014-01-24,22,45,46,47,65,10
384,2014-01-21,8,23,33,45,52,4
385,2014-01-17,1,10,26,31,51,11
386,2014-01-14,4,23,26,62,69,13
387,2014-01-10,8,28,36,37,57,8
388,2014-01-07,13,34,56,62,64,6
389,2014-01-03,22,24,25,40,70,5
390,2013-12-31,8,12,34,52,58,8
391,2013-12-27,4,15,35,48,49,11
392,2013-12-24,23,34,53,58,73,2
393,2013-12-20,3,4,31,49,57,6
394,2013-12-17,8,14,17,20,39,7
395,2013-12-13,19,24,26,27,70,12
396,2013-12-10,5,12,22,41,65,13
397,2013-12-06,11,29,44,63,64,3
398,2013-12-03,7,12,41,44,59,3
399,2013-11-29,9,41,43,47,57,5
400,2013-11-26,27,44,59,74,75,3
401,2013-11-22,17,23,35,36,44,8
402,2013-11-19,14,15,29,49,63,2
403,2013-11-15,25,44,49,54,63,8
404,2013-11-12,20,30,32,42,71,15
405,2013-11-08,41,42,51,57,65,7
406,2013-11-05,2,11,42,64,74,2
407,2013-11-01,32,35,49,62,67,1
408,2013-10-29,20,33,50,53,54,7
409,2013-10-25,6,16,45,54,60,15
410,2013-10-22,2,3,19,52,71,14

In [5]:
for row in mm_tbl.sort_values('draw_dt').iterrows():
    print(row)

(410, draw_dt       2013-10-22 00:00:00
first_num                       2
second_num                      3
third_num                      19
fourth_num                     52
fifth_num                      71
mega_ball                      14
Name: 410, dtype: object)
(409, draw_dt       2013-10-25 00:00:00
first_num                       6
second_num                     16
third_num                      45
fourth_num                     54
fifth_num                      60
mega_ball                      15
Name: 409, dtype: object)
(408, draw_dt       2013-10-29 00:00:00
first_num                      20
second_num                     33
third_num                      50
fourth_num                     53
fifth_num                      54
mega_ball                       7
Name: 408, dtype: object)
(407, draw_dt       2013-11-01 00:00:00
first_num                      32
second_num                     35
third_num                      49
fourth_num                     62
fifth_num                      67
mega_ball                       1
Name: 407, dtype: object)
(406, draw_dt       2013-11-05 00:00:00
first_num                       2
second_num                     11
third_num                      42
fourth_num                     64
fifth_num                      74
mega_ball                       2
Name: 406, dtype: object)
(405, draw_dt       2013-11-08 00:00:00
first_num                      41
second_num                     42
third_num                      51
fourth_num                     57
fifth_num                      65
mega_ball                       7
Name: 405, dtype: object)
(404, draw_dt       2013-11-12 00:00:00
first_num                      20
second_num                     30
third_num                      32
fourth_num                     42
fifth_num                      71
mega_ball                      15
Name: 404, dtype: object)
(403, draw_dt       2013-11-15 00:00:00
first_num                      25
second_num                     44
third_num                      49
fourth_num                     54
fifth_num                      63
mega_ball                       8
Name: 403, dtype: object)
(402, draw_dt       2013-11-19 00:00:00
first_num                      14
second_num                     15
third_num                      29
fourth_num                     49
fifth_num                      63
mega_ball                       2
Name: 402, dtype: object)
(401, draw_dt       2013-11-22 00:00:00
first_num                      17
second_num                     23
third_num                      35
fourth_num                     36
fifth_num                      44
mega_ball                       8
Name: 401, dtype: object)
(400, draw_dt       2013-11-26 00:00:00
first_num                      27
second_num                     44
third_num                      59
fourth_num                     74
fifth_num                      75
mega_ball                       3
Name: 400, dtype: object)
(399, draw_dt       2013-11-29 00:00:00
first_num                       9
second_num                     41
third_num                      43
fourth_num                     47
fifth_num                      57
mega_ball                       5
Name: 399, dtype: object)
(398, draw_dt       2013-12-03 00:00:00
first_num                       7
second_num                     12
third_num                      41
fourth_num                     44
fifth_num                      59
mega_ball                       3
Name: 398, dtype: object)
(397, draw_dt       2013-12-06 00:00:00
first_num                      11
second_num                     29
third_num                      44
fourth_num                     63
fifth_num                      64
mega_ball                       3
Name: 397, dtype: object)
(396, draw_dt       2013-12-10 00:00:00
first_num                       5
second_num                     12
third_num                      22
fourth_num                     41
fifth_num                      65
mega_ball                      13
Name: 396, dtype: object)
(395, draw_dt       2013-12-13 00:00:00
first_num                      19
second_num                     24
third_num                      26
fourth_num                     27
fifth_num                      70
mega_ball                      12
Name: 395, dtype: object)
(394, draw_dt       2013-12-17 00:00:00
first_num                       8
second_num                     14
third_num                      17
fourth_num                     20
fifth_num                      39
mega_ball                       7
Name: 394, dtype: object)
(393, draw_dt       2013-12-20 00:00:00
first_num                       3
second_num                      4
third_num                      31
fourth_num                     49
fifth_num                      57
mega_ball                       6
Name: 393, dtype: object)
(392, draw_dt       2013-12-24 00:00:00
first_num                      23
second_num                     34
third_num                      53
fourth_num                     58
fifth_num                      73
mega_ball                       2
Name: 392, dtype: object)
(391, draw_dt       2013-12-27 00:00:00
first_num                       4
second_num                     15
third_num                      35
fourth_num                     48
fifth_num                      49
mega_ball                      11
Name: 391, dtype: object)
(390, draw_dt       2013-12-31 00:00:00
first_num                       8
second_num                     12
third_num                      34
fourth_num                     52
fifth_num                      58
mega_ball                       8
Name: 390, dtype: object)
(389, draw_dt       2014-01-03 00:00:00
first_num                      22
second_num                     24
third_num                      25
fourth_num                     40
fifth_num                      70
mega_ball                       5
Name: 389, dtype: object)
(388, draw_dt       2014-01-07 00:00:00
first_num                      13
second_num                     34
third_num                      56
fourth_num                     62
fifth_num                      64
mega_ball                       6
Name: 388, dtype: object)
(387, draw_dt       2014-01-10 00:00:00
first_num                       8
second_num                     28
third_num                      36
fourth_num                     37
fifth_num                      57
mega_ball                       8
Name: 387, dtype: object)
(386, draw_dt       2014-01-14 00:00:00
first_num                       4
second_num                     23
third_num                      26
fourth_num                     62
fifth_num                      69
mega_ball                      13
Name: 386, dtype: object)
(385, draw_dt       2014-01-17 00:00:00
first_num                       1
second_num                     10
third_num                      26
fourth_num                     31
fifth_num                      51
mega_ball                      11
Name: 385, dtype: object)
(384, draw_dt       2014-01-21 00:00:00
first_num                       8
second_num                     23
third_num                      33
fourth_num                     45
fifth_num                      52
mega_ball                       4
Name: 384, dtype: object)
(383, draw_dt       2014-01-24 00:00:00
first_num                      22
second_num                     45
third_num                      46
fourth_num                     47
fifth_num                      65
mega_ball                      10
Name: 383, dtype: object)
(382, draw_dt       2014-01-28 00:00:00
first_num                       7
second_num                     16
third_num                      28
fourth_num                     53
fifth_num                      60
mega_ball                       2
Name: 382, dtype: object)
(381, draw_dt       2014-01-31 00:00:00
first_num                       3
second_num                      9
third_num                      13
fourth_num                     47
fifth_num                      52
mega_ball                       8
Name: 381, dtype: object)
(380, draw_dt       2014-02-04 00:00:00
first_num                      25
second_num                     44
third_num                      49
fourth_num                     60
fifth_num                      73
mega_ball                       9
Name: 380, dtype: object)
(379, draw_dt       2014-02-07 00:00:00
first_num                      11
second_num                     21
third_num                      23
fourth_num                     35
fifth_num                      64
mega_ball                      10
Name: 379, dtype: object)
(378, draw_dt       2014-02-11 00:00:00
first_num                      43
second_num                     64
third_num                      67
fourth_num                     71
fifth_num                      73
mega_ball                       4
Name: 378, dtype: object)
(377, draw_dt       2014-02-14 00:00:00
first_num                      20
second_num                     28
third_num                      35
fourth_num                     71
fifth_num                      72
mega_ball                       7
Name: 377, dtype: object)
(376, draw_dt       2014-02-18 00:00:00
first_num                      23
second_num                     29
third_num                      31
fourth_num                     37
fifth_num                      70
mega_ball                      14
Name: 376, dtype: object)
(375, draw_dt       2014-02-21 00:00:00
first_num                      23
second_num                     29
third_num                      32
fourth_num                     45
fifth_num                      46
mega_ball                      15
Name: 375, dtype: object)
(374, draw_dt       2014-02-25 00:00:00
first_num                      12
second_num                     18
third_num                      25
fourth_num                     35
fifth_num                      66
mega_ball                      15
Name: 374, dtype: object)
(373, draw_dt       2014-02-28 00:00:00
first_num                       3
second_num                     31
third_num                      50
fourth_num                     58
fifth_num                      59
mega_ball                       6
Name: 373, dtype: object)
(372, draw_dt       2014-03-04 00:00:00
first_num                      10
second_num                     29
third_num                      31
fourth_num                     35
fifth_num                      45
mega_ball                      10
Name: 372, dtype: object)
(371, draw_dt       2014-03-07 00:00:00
first_num                      11
second_num                     13
third_num                      51
fourth_num                     57
fifth_num                      69
mega_ball                       1
Name: 371, dtype: object)
(370, draw_dt       2014-03-11 00:00:00
first_num                       9
second_num                     14
third_num                      56
fourth_num                     57
fifth_num                      69
mega_ball                      10
Name: 370, dtype: object)
(369, draw_dt       2014-03-14 00:00:00
first_num                       7
second_num                     20
third_num                      40
fourth_num                     54
fifth_num                      69
mega_ball                      12
Name: 369, dtype: object)
(368, draw_dt       2014-03-18 00:00:00
first_num                      11
second_num                     19
third_num                      24
fourth_num                     33
fifth_num                      51
mega_ball                       7
Name: 368, dtype: object)
(367, draw_dt       2014-03-21 00:00:00
first_num                       2
second_num                     23
third_num                      30
fourth_num                     35
fifth_num                      53
mega_ball                      10
Name: 367, dtype: object)
(366, draw_dt       2014-03-25 00:00:00
first_num                      19
second_num                     26
third_num                      51
fourth_num                     57
fifth_num                      73
mega_ball                      15
Name: 366, dtype: object)
(365, draw_dt       2014-03-28 00:00:00
first_num                       2
second_num                      3
third_num                       9
fourth_num                     50
fifth_num                      73
mega_ball                      12
Name: 365, dtype: object)
(364, draw_dt       2014-04-01 00:00:00
first_num                      10
second_num                     23
third_num                      68
fourth_num                     74
fifth_num                      75
mega_ball                       9
Name: 364, dtype: object)
(363, draw_dt       2014-04-04 00:00:00
first_num                       1
second_num                     10
third_num                      15
fourth_num                     41
fifth_num                      54
mega_ball                       9
Name: 363, dtype: object)
(362, draw_dt       2014-04-08 00:00:00
first_num                      35
second_num                     36
third_num                      41
fourth_num                     60
fifth_num                      71
mega_ball                       3
Name: 362, dtype: object)
(361, draw_dt       2014-04-11 00:00:00
first_num                       3
second_num                     42
third_num                      44
fourth_num                     47
fifth_num                      57
mega_ball                       8
Name: 361, dtype: object)
(360, draw_dt       2014-04-15 00:00:00
first_num                       4
second_num                     39
third_num                      46
fourth_num                     47
fifth_num                      70
mega_ball                      13
Name: 360, dtype: object)
(359, draw_dt       2014-04-18 00:00:00
first_num                      18
second_num                     25
third_num                      38
fourth_num                     45
fifth_num                      63
mega_ball                       9
Name: 359, dtype: object)
(358, draw_dt       2014-04-22 00:00:00
first_num                       2
second_num                     18
third_num                      19
fourth_num                     49
fifth_num                      50
mega_ball                       1
Name: 358, dtype: object)
(357, draw_dt       2014-04-25 00:00:00
first_num                       3
second_num                     11
third_num                      18
fourth_num                     20
fifth_num                      66
mega_ball                       9
Name: 357, dtype: object)
(356, draw_dt       2014-04-29 00:00:00
first_num                       7
second_num                     43
third_num                      59
fourth_num                     61
fifth_num                      66
mega_ball                       3
Name: 356, dtype: object)
(355, draw_dt       2014-05-02 00:00:00
first_num                       1
second_num                     18
third_num                      26
fourth_num                     35
fifth_num                      40
mega_ball                      13
Name: 355, dtype: object)
(354, draw_dt       2014-05-06 00:00:00
first_num                      18
second_num                     20
third_num                      27
fourth_num                     48
fifth_num                      51
mega_ball                       5
Name: 354, dtype: object)
(353, draw_dt       2014-05-09 00:00:00
first_num                      10
second_num                     28
third_num                      39
fourth_num                     51
fifth_num                      59
mega_ball                      14
Name: 353, dtype: object)
(352, draw_dt       2014-05-13 00:00:00
first_num                      37
second_num                     46
third_num                      48
fourth_num                     70
fifth_num                      74
mega_ball                       1
Name: 352, dtype: object)
(351, draw_dt       2014-05-16 00:00:00
first_num                      13
second_num                     14
third_num                      16
fourth_num                     50
fifth_num                      56
mega_ball                      11
Name: 351, dtype: object)
(350, draw_dt       2014-05-20 00:00:00
first_num                      10
second_num                     40
third_num                      63
fourth_num                     64
fifth_num                      69
mega_ball                       7
Name: 350, dtype: object)
(349, draw_dt       2014-05-23 00:00:00
first_num                      12
second_num                     14
third_num                      21
fourth_num                     38
fifth_num                      70
mega_ball                      15
Name: 349, dtype: object)
(348, draw_dt       2014-05-27 00:00:00
first_num                       1
second_num                      6
third_num                      10
fourth_num                     46
fifth_num                      58
mega_ball                      13
Name: 348, dtype: object)
(347, draw_dt       2014-05-30 00:00:00
first_num                      10
second_num                     13
third_num                      42
fourth_num                     43
fifth_num                      62
mega_ball                       2
Name: 347, dtype: object)
(346, draw_dt       2014-06-03 00:00:00
first_num                      19
second_num                     28
third_num                      62
fourth_num                     66
fifth_num                      74
mega_ball                       6
Name: 346, dtype: object)
(345, draw_dt       2014-06-06 00:00:00
first_num                      12
second_num                     29
third_num                      37
fourth_num                     49
fifth_num                      72
mega_ball                       9
Name: 345, dtype: object)
(344, draw_dt       2014-06-10 00:00:00
first_num                       2
second_num                     10
third_num                      24
fourth_num                     26
fifth_num                      74
mega_ball                       7
Name: 344, dtype: object)
(343, draw_dt       2014-06-13 00:00:00
first_num                       7
second_num                     38
third_num                      46
fourth_num                     49
fifth_num                      56
mega_ball                       1
Name: 343, dtype: object)
(342, draw_dt       2014-06-17 00:00:00
first_num                      10
second_num                     14
third_num                      24
fourth_num                     47
fifth_num                      60
mega_ball                       3
Name: 342, dtype: object)
(341, draw_dt       2014-06-20 00:00:00
first_num                       1
second_num                     22
third_num                      25
fourth_num                     29
fifth_num                      56
mega_ball                       3
Name: 341, dtype: object)
(340, draw_dt       2014-06-24 00:00:00
first_num                      13
second_num                     17
third_num                      24
fourth_num                     47
fifth_num                      65
mega_ball                      10
Name: 340, dtype: object)
(339, draw_dt       2014-06-27 00:00:00
first_num                      15
second_num                     29
third_num                      31
fourth_num                     46
fifth_num                      64
mega_ball                      10
Name: 339, dtype: object)
(338, draw_dt       2014-07-01 00:00:00
first_num                       9
second_num                     22
third_num                      38
fourth_num                     47
fifth_num                      49
mega_ball                      15
Name: 338, dtype: object)
(337, draw_dt       2014-07-04 00:00:00
first_num                      16
second_num                     33
third_num                      39
fourth_num                     58
fifth_num                      69
mega_ball                       2
Name: 337, dtype: object)

(235, draw_dt       2015-06-26 00:00:00
first_num                      12
second_num                     23
third_num                      33
fourth_num                     47
fifth_num                      50
mega_ball                       3
Name: 235, dtype: object)
(234, draw_dt       2015-06-30 00:00:00
first_num                      11
second_num                     17
third_num                      34
fourth_num                     43
fifth_num                      50
mega_ball                      15
Name: 234, dtype: object)
(233, draw_dt       2015-07-03 00:00:00
first_num                      33
second_num                     50
third_num                      64
fourth_num                     71
fifth_num                      72
mega_ball                       9
Name: 233, dtype: object)
(232, draw_dt       2015-07-07 00:00:00
first_num                       6
second_num                     15
third_num                      16
fourth_num                     28
fifth_num                      49
mega_ball                      14
Name: 232, dtype: object)
(231, draw_dt       2015-07-10 00:00:00
first_num                      24
second_num                     27
third_num                      45
fourth_num                     51
fifth_num                      54
mega_ball                       8
Name: 231, dtype: object)
(230, draw_dt       2015-07-14 00:00:00
first_num                      19
second_num                     24
third_num                      30
fourth_num                     35
fifth_num                      72
mega_ball                       5
Name: 230, dtype: object)
(229, draw_dt       2015-07-17 00:00:00
first_num                       6
second_num                     17
third_num                      30
fourth_num                     31
fifth_num                      41
mega_ball                      15
Name: 229, dtype: object)
(228, draw_dt       2015-07-21 00:00:00
first_num                      20
second_num                     30
third_num                      62
fourth_num                     65
fifth_num                      74
mega_ball                       1
Name: 228, dtype: object)
(227, draw_dt       2015-07-24 00:00:00
first_num                      10
second_num                     12
third_num                      26
fourth_num                     60
fifth_num                      62
mega_ball                      13
Name: 227, dtype: object)
(226, draw_dt       2015-07-28 00:00:00
first_num                       8
second_num                     35
third_num                      61
fourth_num                     68
fifth_num                      75
mega_ball                      15
Name: 226, dtype: object)
(225, draw_dt       2015-07-31 00:00:00
first_num                      28
second_num                     32
third_num                      33
fourth_num                     40
fifth_num                      46
mega_ball                      10
Name: 225, dtype: object)
(224, draw_dt       2015-08-04 00:00:00
first_num                       2
second_num                     19
third_num                      44
fourth_num                     51
fifth_num                      57
mega_ball                      14
Name: 224, dtype: object)
(223, draw_dt       2015-08-07 00:00:00
first_num                       1
second_num                     38
third_num                      53
fourth_num                     63
fifth_num                      66
mega_ball                      10
Name: 223, dtype: object)
(222, draw_dt       2015-08-11 00:00:00
first_num                       3
second_num                      8
third_num                      29
fourth_num                     57
fifth_num                      68
mega_ball                       8
Name: 222, dtype: object)
(221, draw_dt       2015-08-14 00:00:00
first_num                      12
second_num                     15
third_num                      20
fourth_num                     52
fifth_num                      71
mega_ball                       3
Name: 221, dtype: object)
(220, draw_dt       2015-08-18 00:00:00
first_num                       2
second_num                      7
third_num                      33
fourth_num                     39
fifth_num                      53
mega_ball                       9
Name: 220, dtype: object)
(219, draw_dt       2015-08-21 00:00:00
first_num                      13
second_num                     15
third_num                      21
fourth_num                     41
fifth_num                      72
mega_ball                       1
Name: 219, dtype: object)
(218, draw_dt       2015-08-25 00:00:00
first_num                       5
second_num                     44
third_num                      54
fourth_num                     59
fifth_num                      63
mega_ball                       1
Name: 218, dtype: object)
(217, draw_dt       2015-08-28 00:00:00
first_num                      13
second_num                     35
third_num                      40
fourth_num                     60
fifth_num                      68
mega_ball                       9
Name: 217, dtype: object)
(216, draw_dt       2015-09-01 00:00:00
first_num                       2
second_num                      5
third_num                      35
fourth_num                     40
fifth_num                      54
mega_ball                      13
Name: 216, dtype: object)
(215, draw_dt       2015-09-04 00:00:00
first_num                      17
second_num                     21
third_num                      39
fourth_num                     52
fifth_num                      57
mega_ball                       5
Name: 215, dtype: object)
(214, draw_dt       2015-09-08 00:00:00
first_num                      19
second_num                     20
third_num                      36
fourth_num                     41
fifth_num                      46
mega_ball                       7
Name: 214, dtype: object)
(213, draw_dt       2015-09-11 00:00:00
first_num                       5
second_num                     11
third_num                      31
fourth_num                     50
fifth_num                      67
mega_ball                      14
Name: 213, dtype: object)
(212, draw_dt       2015-09-15 00:00:00
first_num                       7
second_num                     20
third_num                      35
fourth_num                     49
fifth_num                      56
mega_ball                       9
Name: 212, dtype: object)
(211, draw_dt       2015-09-18 00:00:00
first_num                      17
second_num                     34
third_num                      35
fourth_num                     51
fifth_num                      65
mega_ball                       7
Name: 211, dtype: object)
(210, draw_dt       2015-09-22 00:00:00
first_num                      28
second_num                     30
third_num                      38
fourth_num                     45
fifth_num                      51
mega_ball                       8
Name: 210, dtype: object)
(209, draw_dt       2015-09-25 00:00:00
first_num                       3
second_num                      8
third_num                      38
fourth_num                     51
fifth_num                      64
mega_ball                       4
Name: 209, dtype: object)
(208, draw_dt       2015-09-29 00:00:00
first_num                       8
second_num                     21
third_num                      30
fourth_num                     61
fifth_num                      62
mega_ball                       9
Name: 208, dtype: object)
(207, draw_dt       2015-10-02 00:00:00
first_num                       4
second_num                     14
third_num                      29
fourth_num                     31
fifth_num                      47
mega_ball                       9
Name: 207, dtype: object)
(206, draw_dt       2015-10-06 00:00:00
first_num                      17
second_num                     58
third_num                      63
fourth_num                     64
fifth_num                      66
mega_ball                      13
Name: 206, dtype: object)
(205, draw_dt       2015-10-09 00:00:00
first_num                       8
second_num                      9
third_num                      21
fourth_num                     63
fifth_num                      75
mega_ball                      14
Name: 205, dtype: object)
(204, draw_dt       2015-10-13 00:00:00
first_num                       7
second_num                      9
third_num                      24
fourth_num                     38
fifth_num                      52
mega_ball                       1
Name: 204, dtype: object)
(203, draw_dt       2015-10-16 00:00:00
first_num                       2
second_num                     38
third_num                      48
fourth_num                     61
fifth_num                      68
mega_ball                       4
Name: 203, dtype: object)
(202, draw_dt       2015-10-20 00:00:00
first_num                       6
second_num                     25
third_num                      35
fourth_num                     38
fifth_num                      52
mega_ball                       4
Name: 202, dtype: object)
(201, draw_dt       2015-10-23 00:00:00
first_num                      25
second_num                     32
third_num                      37
fourth_num                     45
fifth_num                      70
mega_ball                       1
Name: 201, dtype: object)
(200, draw_dt       2015-10-27 00:00:00
first_num                       9
second_num                     26
third_num                      27
fourth_num                     29
fifth_num                      74
mega_ball                       4
Name: 200, dtype: object)
(199, draw_dt       2015-10-30 00:00:00
first_num                      17
second_num                     41
third_num                      51
fourth_num                     53
fifth_num                      56
mega_ball                      15
Name: 199, dtype: object)
(198, draw_dt       2015-11-03 00:00:00
first_num                      16
second_num                     29
third_num                      44
fourth_num                     69
fifth_num                      74
mega_ball                      12
Name: 198, dtype: object)
(197, draw_dt       2015-11-06 00:00:00
first_num                      10
second_num                     31
third_num                      35
fourth_num                     50
fifth_num                      72
mega_ball                       8
Name: 197, dtype: object)
(196, draw_dt       2015-11-10 00:00:00
first_num                       8
second_num                     17
third_num                      20
fourth_num                     45
fifth_num                      71
mega_ball                       4
Name: 196, dtype: object)
(195, draw_dt       2015-11-13 00:00:00
first_num                      17
second_num                     18
third_num                      31
fourth_num                     35
fifth_num                      59
mega_ball                       9
Name: 195, dtype: object)
(194, draw_dt       2015-11-17 00:00:00
first_num                      12
second_num                     14
third_num                      18
fourth_num                     24
fifth_num                      61
mega_ball                      10
Name: 194, dtype: object)
(193, draw_dt       2015-11-20 00:00:00
first_num                       9
second_num                     12
third_num                      29
fourth_num                     37
fifth_num                      67
mega_ball                      15
Name: 193, dtype: object)
(192, draw_dt       2015-11-24 00:00:00
first_num                       2
second_num                     19
third_num                      30
fourth_num                     38
fifth_num                      70
mega_ball                       8
Name: 192, dtype: object)
(191, draw_dt       2015-11-27 00:00:00
first_num                      16
second_num                     20
third_num                      39
fourth_num                     56
fifth_num                      59
mega_ball                      12
Name: 191, dtype: object)
(190, draw_dt       2015-12-01 00:00:00
first_num                       5
second_num                      7
third_num                      25
fourth_num                     50
fifth_num                      59
mega_ball                      12
Name: 190, dtype: object)
(189, draw_dt       2015-12-04 00:00:00
first_num                      26
second_num                     42
third_num                      47
fourth_num                     61
fifth_num                      73
mega_ball                       6
Name: 189, dtype: object)
(188, draw_dt       2015-12-08 00:00:00
first_num                       7
second_num                     17
third_num                      37
fourth_num                     49
fifth_num                      73
mega_ball                      15
Name: 188, dtype: object)
(187, draw_dt       2015-12-11 00:00:00
first_num                      14
second_num                     20
third_num                      43
fourth_num                     54
fifth_num                      69
mega_ball                       5
Name: 187, dtype: object)
(186, draw_dt       2015-12-15 00:00:00
first_num                      18
second_num                     25
third_num                      47
fourth_num                     51
fifth_num                      61
mega_ball                       5
Name: 186, dtype: object)
(185, draw_dt       2015-12-18 00:00:00
first_num                       6
second_num                     23
third_num                      24
fourth_num                     28
fifth_num                      62
mega_ball                       7
Name: 185, dtype: object)
(184, draw_dt       2015-12-22 00:00:00
first_num                      11
second_num                     21
third_num                      40
fourth_num                     50
fifth_num                      70
mega_ball                      15
Name: 184, dtype: object)
(183, draw_dt       2015-12-25 00:00:00
first_num                      15
second_num                     25
third_num                      29
fourth_num                     44
fifth_num                      51
mega_ball                       4
Name: 183, dtype: object)
(182, draw_dt       2015-12-29 00:00:00
first_num                      20
second_num                     25
third_num                      55
fourth_num                     62
fifth_num                      74
mega_ball                       7
Name: 182, dtype: object)
(181, draw_dt       2016-01-01 00:00:00
first_num                       7
second_num                     18
third_num                      37
fourth_num                     38
fifth_num                      39
mega_ball                       9
Name: 181, dtype: object)
(180, draw_dt       2016-01-05 00:00:00
first_num                       1
second_num                      4
third_num                      36
fourth_num                     48
fifth_num                      57
mega_ball                      13
Name: 180, dtype: object)
(179, draw_dt       2016-01-08 00:00:00
first_num                      11
second_num                     39
third_num                      51
fourth_num                     57
fifth_num                      75
mega_ball                       2
Name: 179, dtype: object)
(178, draw_dt       2016-01-12 00:00:00
first_num                      15
second_num                     27
third_num                      29
fourth_num                     31
fifth_num                      48
mega_ball                      15
Name: 178, dtype: object)
(177, draw_dt       2016-01-15 00:00:00
first_num                      29
second_num                     41
third_num                      53
fourth_num                     54
fifth_num                      70
mega_ball                      12
Name: 177, dtype: object)
(176, draw_dt       2016-01-19 00:00:00
first_num                       2
second_num                     17
third_num                      31
fourth_num                     39
fifth_num                      47
mega_ball                       9
Name: 176, dtype: object)
(175, draw_dt       2016-01-22 00:00:00
first_num                      21
second_num                     25
third_num                      40
fourth_num                     46
fifth_num                      56
mega_ball                       3
Name: 175, dtype: object)
(174, draw_dt       2016-01-26 00:00:00
first_num                      14
second_num                     27
third_num                      39
fourth_num                     50
fifth_num                      69
mega_ball                       2
Name: 174, dtype: object)
(173, draw_dt       2016-01-29 00:00:00
first_num                      20
second_num                     28
third_num                      49
fourth_num                     51
fifth_num                      52
mega_ball                       6
Name: 173, dtype: object)
(172, draw_dt       2016-02-02 00:00:00
first_num                       7
second_num                     13
third_num                      25
fourth_num                     51
fifth_num                      70
mega_ball                       9
Name: 172, dtype: object)
(171, draw_dt       2016-02-05 00:00:00
first_num                       4
second_num                      6
third_num                      23
fourth_num                     55
fifth_num                      75
mega_ball                       2
Name: 171, dtype: object)
(170, draw_dt       2016-02-09 00:00:00
first_num                       3
second_num                     42
third_num                      46
fourth_num                     56
fifth_num                      71
mega_ball                      13
Name: 170, dtype: object)
(169, draw_dt       2016-02-12 00:00:00
first_num                       1
second_num                      7
third_num                      44
fourth_num                     68
fifth_num                      73
mega_ball                       1
Name: 169, dtype: object)
(168, draw_dt       2016-02-16 00:00:00
first_num                       9
second_num                     31
third_num                      33
fourth_num                     46
fifth_num                      64
mega_ball                       4
Name: 168, dtype: object)
(167, draw_dt       2016-02-19 00:00:00
first_num                       2
second_num                     27
third_num                      41
fourth_num                     50
fifth_num                      75
mega_ball                       4
Name: 167, dtype: object)
(166, draw_dt       2016-02-23 00:00:00
first_num                      16
second_num                     32
third_num                      39
fourth_num                     53
fifth_num                      57
mega_ball                      10
Name: 166, dtype: object)
(165, draw_dt       2016-02-26 00:00:00
first_num                       3
second_num                     15
third_num                      19
fourth_num                     62
fifth_num                      74
mega_ball                      14
Name: 165, dtype: object)
(164, draw_dt       2016-03-01 00:00:00
first_num                       1
second_num                     29
third_num                      33
fourth_num                     34
fifth_num                      55
mega_ball                       6
Name: 164, dtype: object)
(163, draw_dt       2016-03-04 00:00:00
first_num                      21
second_num                     26
third_num                      33
fourth_num                     48
fifth_num                      73
mega_ball                      14
Name: 163, dtype: object)
(162, draw_dt       2016-03-08 00:00:00
first_num                      27
second_num                     37
third_num                      54
fourth_num                     66
fifth_num                      69
mega_ball                       5
Name: 162, dtype: object)

In [6]:
for row in mm_tbl.sort_values('draw_dt', ascending=False).iterrows():
    print(row)

(0, draw_dt       2017-09-26 00:00:00
first_num                       1
second_num                     10
third_num                      57
fourth_num                     66
fifth_num                      75
mega_ball                       4
Name: 0, dtype: object)
(1, draw_dt       2017-09-22 00:00:00
first_num                       5
second_num                     39
third_num                      54
fourth_num                     63
fifth_num                      66
mega_ball                      15
Name: 1, dtype: object)
(2, draw_dt       2017-09-19 00:00:00
first_num                       9
second_num                     28
third_num                      31
fourth_num                     50
fifth_num                      61
mega_ball                      10
Name: 2, dtype: object)
(3, draw_dt       2017-09-15 00:00:00
first_num                      18
second_num                     24
third_num                      34
fourth_num                     38
fifth_num                      58
mega_ball                       3
Name: 3, dtype: object)
(4, draw_dt       2017-09-12 00:00:00
first_num                      26
second_num                     37
third_num                      41
fourth_num                     54
fifth_num                      65
mega_ball                       3
Name: 4, dtype: object)
(5, draw_dt       2017-09-08 00:00:00
first_num                       4
second_num                      5
third_num                      14
fourth_num                     26
fifth_num                      73
mega_ball                      14
Name: 5, dtype: object)
(6, draw_dt       2017-09-05 00:00:00
first_num                      11
second_num                     17
third_num                      59
fourth_num                     70
fifth_num                      72
mega_ball                       1
Name: 6, dtype: object)
(7, draw_dt       2017-09-01 00:00:00
first_num                       4
second_num                     13
third_num                      31
fourth_num                     50
fifth_num                      64
mega_ball                      12
Name: 7, dtype: object)
(8, draw_dt       2017-08-29 00:00:00
first_num                       2
second_num                     13
third_num                      17
fourth_num                     35
fifth_num                      73
mega_ball                       3
Name: 8, dtype: object)
(9, draw_dt       2017-08-25 00:00:00
first_num                      17
second_num                     38
third_num                      42
fourth_num                     51
fifth_num                      65
mega_ball                      11
Name: 9, dtype: object)
(10, draw_dt       2017-08-22 00:00:00
first_num                      24
second_num                     35
third_num                      46
fourth_num                     50
fifth_num                      51
mega_ball                       7
Name: 10, dtype: object)
(11, draw_dt       2017-08-18 00:00:00
first_num                       1
second_num                     31
third_num                      34
fourth_num                     40
fifth_num                      75
mega_ball                       6
Name: 11, dtype: object)
(12, draw_dt       2017-08-15 00:00:00
first_num                       7
second_num                     16
third_num                      20
fourth_num                     66
fifth_num                      73
mega_ball                       7
Name: 12, dtype: object)
(13, draw_dt       2017-08-11 00:00:00
first_num                      23
second_num                     33
third_num                      53
fourth_num                     56
fifth_num                      58
mega_ball                       6
Name: 13, dtype: object)
(14, draw_dt       2017-08-08 00:00:00
first_num                      11
second_num                     17
third_num                      50
fourth_num                     52
fifth_num                      74
mega_ball                      14
Name: 14, dtype: object)
(15, draw_dt       2017-08-04 00:00:00
first_num                       9
second_num                     17
third_num                      25
fourth_num                     63
fifth_num                      71
mega_ball                       4
Name: 15, dtype: object)
(16, draw_dt       2017-08-01 00:00:00
first_num                      20
second_num                     22
third_num                      52
fourth_num                     57
fifth_num                      73
mega_ball                       7
Name: 16, dtype: object)
(17, draw_dt       2017-07-28 00:00:00
first_num                       4
second_num                      6
third_num                      31
fourth_num                     49
fifth_num                      52
mega_ball                      11
Name: 17, dtype: object)
(18, draw_dt       2017-07-25 00:00:00
first_num                       2
second_num                      5
third_num                      26
fourth_num                     58
fifth_num                      60
mega_ball                       6
Name: 18, dtype: object)
(19, draw_dt       2017-07-21 00:00:00
first_num                      18
second_num                     31
third_num                      36
fourth_num                     50
fifth_num                      74
mega_ball                      10
Name: 19, dtype: object)
(20, draw_dt       2017-07-18 00:00:00
first_num                       8
second_num                     12
third_num                      23
fourth_num                     51
fifth_num                      73
mega_ball                       6
Name: 20, dtype: object)
(21, draw_dt       2017-07-14 00:00:00
first_num                      11
second_num                     12
third_num                      24
fourth_num                     32
fifth_num                      73
mega_ball                       1
Name: 21, dtype: object)
(22, draw_dt       2017-07-11 00:00:00
first_num                       7
second_num                     18
third_num                      24
fourth_num                     55
fifth_num                      74
mega_ball                      10
Name: 22, dtype: object)
(23, draw_dt       2017-07-07 00:00:00
first_num                       2
second_num                      9
third_num                      11
fourth_num                     28
fifth_num                      60
mega_ball                      10
Name: 23, dtype: object)
(24, draw_dt       2017-07-04 00:00:00
first_num                      16
second_num                     39
third_num                      47
fourth_num                     53
fifth_num                      71
mega_ball                      15
Name: 24, dtype: object)
(25, draw_dt       2017-06-30 00:00:00
first_num                      10
second_num                     38
third_num                      51
fourth_num                     55
fifth_num                      64
mega_ball                       6
Name: 25, dtype: object)
(26, draw_dt       2017-06-27 00:00:00
first_num                       4
second_num                     21
third_num                      45
fourth_num                     52
fifth_num                      57
mega_ball                      14
Name: 26, dtype: object)
(27, draw_dt       2017-06-23 00:00:00
first_num                      12
second_num                     20
third_num                      53
fourth_num                     66
fifth_num                      74
mega_ball                      11
Name: 27, dtype: object)
(28, draw_dt       2017-06-20 00:00:00
first_num                       2
second_num                     15
third_num                      41
fourth_num                     49
fifth_num                      63
mega_ball                       3
Name: 28, dtype: object)
(29, draw_dt       2017-06-16 00:00:00
first_num                      18
second_num                     22
third_num                      26
fourth_num                     30
fifth_num                      44
mega_ball                       9
Name: 29, dtype: object)
(30, draw_dt       2017-06-13 00:00:00
first_num                      27
second_num                     51
third_num                      62
fourth_num                     68
fifth_num                      75
mega_ball                       8
Name: 30, dtype: object)
(31, draw_dt       2017-06-09 00:00:00
first_num                       3
second_num                     16
third_num                      28
fourth_num                     33
fifth_num                      37
mega_ball                       9
Name: 31, dtype: object)
(32, draw_dt       2017-06-06 00:00:00
first_num                       3
second_num                      5
third_num                      16
fourth_num                     49
fifth_num                      75
mega_ball                       5
Name: 32, dtype: object)
(33, draw_dt       2017-06-02 00:00:00
first_num                       7
second_num                     42
third_num                      57
fourth_num                     69
fifth_num                      72
mega_ball                      10
Name: 33, dtype: object)
(34, draw_dt       2017-05-30 00:00:00
first_num                       5
second_num                     20
third_num                      32
fourth_num                     37
fifth_num                      67
mega_ball                       5
Name: 34, dtype: object)
(35, draw_dt       2017-05-26 00:00:00
first_num                      25
second_num                     26
third_num                      28
fourth_num                     37
fifth_num                      56
mega_ball                       5
Name: 35, dtype: object)
(36, draw_dt       2017-05-23 00:00:00
first_num                       6
second_num                     13
third_num                      17
fourth_num                     33
fifth_num                      60
mega_ball                      14
Name: 36, dtype: object)
(37, draw_dt       2017-05-19 00:00:00
first_num                       1
second_num                      4
third_num                       5
fourth_num                     24
fifth_num                      30
mega_ball                       1
Name: 37, dtype: object)
(38, draw_dt       2017-05-16 00:00:00
first_num                       4
second_num                     35
third_num                      39
fourth_num                     56
fifth_num                      72
mega_ball                      11
Name: 38, dtype: object)
(39, draw_dt       2017-05-12 00:00:00
first_num                      28
second_num                     34
third_num                      41
fourth_num                     42
fifth_num                      47
mega_ball                      13
Name: 39, dtype: object)
(40, draw_dt       2017-05-09 00:00:00
first_num                       6
second_num                     29
third_num                      45
fourth_num                     69
fifth_num                      73
mega_ball                      11
Name: 40, dtype: object)
(41, draw_dt       2017-05-05 00:00:00
first_num                       4
second_num                     23
third_num                      33
fourth_num                     47
fifth_num                      53
mega_ball                       7
Name: 41, dtype: object)
(42, draw_dt       2017-05-02 00:00:00
first_num                       5
second_num                     14
third_num                      42
fourth_num                     43
fifth_num                      58
mega_ball                       1
Name: 42, dtype: object)
(43, draw_dt       2017-04-28 00:00:00
first_num                       6
second_num                     13
third_num                      18
fourth_num                     20
fifth_num                      31
mega_ball                      13
Name: 43, dtype: object)
(44, draw_dt       2017-04-25 00:00:00
first_num                       3
second_num                     13
third_num                      33
fourth_num                     40
fifth_num                      50
mega_ball                       2
Name: 44, dtype: object)
(45, draw_dt       2017-04-21 00:00:00
first_num                       1
second_num                     12
third_num                      13
fourth_num                     32
fifth_num                      34
mega_ball                      10
Name: 45, dtype: object)
(46, draw_dt       2017-04-18 00:00:00
first_num                       8
second_num                     29
third_num                      30
fourth_num                     43
fifth_num                      64
mega_ball                       6
Name: 46, dtype: object)
(47, draw_dt       2017-04-14 00:00:00
first_num                       5
second_num                     10
third_num                      55
fourth_num                     60
fifth_num                      73
mega_ball                      12
Name: 47, dtype: object)
(48, draw_dt       2017-04-11 00:00:00
first_num                      19
second_num                     34
third_num                      35
fourth_num                     38
fifth_num                      49
mega_ball                       8
Name: 48, dtype: object)
(49, draw_dt       2017-04-07 00:00:00
first_num                      30
second_num                     33
third_num                      43
fourth_num                     47
fifth_num                      69
mega_ball                      15
Name: 49, dtype: object)
(50, draw_dt       2017-04-04 00:00:00
first_num                      13
second_num                     24
third_num                      34
fourth_num                     35
fifth_num                      55
mega_ball                       9
Name: 50, dtype: object)
(51, draw_dt       2017-03-31 00:00:00
first_num                      17
second_num                     24
third_num                      27
fourth_num                     32
fifth_num                      58
mega_ball                      10
Name: 51, dtype: object)
(52, draw_dt       2017-03-28 00:00:00
first_num                      30
second_num                     33
third_num                      35
fourth_num                     37
fifth_num                      46
mega_ball                      10
Name: 52, dtype: object)
(53, draw_dt       2017-03-24 00:00:00
first_num                       5
second_num                     28
third_num                      37
fourth_num                     61
fifth_num                      69
mega_ball                       1
Name: 53, dtype: object)
(54, draw_dt       2017-03-21 00:00:00
first_num                       4
second_num                     45
third_num                      53
fourth_num                     73
fifth_num                      75
mega_ball                       7
Name: 54, dtype: object)
(55, draw_dt       2017-03-17 00:00:00
first_num                      11
second_num                     27
third_num                      31
fourth_num                     58
fifth_num                      60
mega_ball                      10
Name: 55, dtype: object)
(56, draw_dt       2017-03-14 00:00:00
first_num                      16
second_num                     23
third_num                      28
fourth_num                     33
fifth_num                      59
mega_ball                      13
Name: 56, dtype: object)
(57, draw_dt       2017-03-10 00:00:00
first_num                      26
second_num                     38
third_num                      42
fourth_num                     58
fifth_num                      70
mega_ball                       5
Name: 57, dtype: object)
(58, draw_dt       2017-03-07 00:00:00
first_num                       3
second_num                     30
third_num                      45
fourth_num                     53
fifth_num                      68
mega_ball                      11
Name: 58, dtype: object)
(59, draw_dt       2017-03-03 00:00:00
first_num                      14
second_num                     26
third_num                      39
fourth_num                     48
fifth_num                      51
mega_ball                       9
Name: 59, dtype: object)
(60, draw_dt       2017-02-28 00:00:00
first_num                      20
second_num                     33
third_num                      45
fourth_num                     58
fifth_num                      69
mega_ball                       4
Name: 60, dtype: object)
(61, draw_dt       2017-02-24 00:00:00
first_num                      12
second_num                     29
third_num                      33
fourth_num                     42
fifth_num                      68
mega_ball                      14
Name: 61, dtype: object)
(62, draw_dt       2017-02-21 00:00:00
first_num                       9
second_num                     21
third_num                      30
fourth_num                     32
fifth_num                      75
mega_ball                       9
Name: 62, dtype: object)
(63, draw_dt       2017-02-17 00:00:00
first_num                       4
second_num                     56
third_num                      58
fourth_num                     67
fifth_num                      75
mega_ball                       8
Name: 63, dtype: object)
(64, draw_dt       2017-02-14 00:00:00
first_num                       7
second_num                     11
third_num                      33
fourth_num                     60
fifth_num                      68
mega_ball                      15
Name: 64, dtype: object)
(65, draw_dt       2017-02-10 00:00:00
first_num                      32
second_num                     39
third_num                      51
fourth_num                     62
fifth_num                      75
mega_ball                      14
Name: 65, dtype: object)
(66, draw_dt       2017-02-07 00:00:00
first_num                      23
second_num                     28
third_num                      37
fourth_num                     56
fifth_num                      71
mega_ball                      12
Name: 66, dtype: object)
(67, draw_dt       2017-02-03 00:00:00
first_num                       3
second_num                      6
third_num                      29
fourth_num                     30
fifth_num                      64
mega_ball                       3
Name: 67, dtype: object)
(68, draw_dt       2017-01-31 00:00:00
first_num                       3
second_num                     14
third_num                      27
fourth_num                     62
fifth_num                      72
mega_ball                       4
Name: 68, dtype: object)
(69, draw_dt       2017-01-27 00:00:00
first_num                      17
second_num                     37
third_num                      53
fourth_num                     54
fifth_num                      61
mega_ball                       8
Name: 69, dtype: object)
(70, draw_dt       2017-01-24 00:00:00
first_num                       8
second_num                     42
third_num                      54
fourth_num                     63
fifth_num                      67
mega_ball                      11
Name: 70, dtype: object)
(71, draw_dt       2017-01-20 00:00:00
first_num                       7
second_num                      9
third_num                      24
fourth_num                     41
fifth_num                      53
mega_ball                      14
Name: 71, dtype: object)
(72, draw_dt       2017-01-17 00:00:00
first_num                      20
second_num                     31
third_num                      54
fourth_num                     56
fifth_num                      59
mega_ball                       3
Name: 72, dtype: object)
(73, draw_dt       2017-01-13 00:00:00
first_num                      10
second_num                     44
third_num                      58
fourth_num                     74
fifth_num                      75
mega_ball                      11
Name: 73, dtype: object)
(74, draw_dt       2017-01-10 00:00:00
first_num                      11
second_num                     20
third_num                      40
fourth_num                     41

(160, draw_dt       2016-03-15 00:00:00
first_num                      18
second_num                     26
third_num                      30
fourth_num                     44
fifth_num                      68
mega_ball                       7
Name: 160, dtype: object)
(161, draw_dt       2016-03-11 00:00:00
first_num                      14
second_num                     18
third_num                      48
fourth_num                     54
fifth_num                      71
mega_ball                      13
Name: 161, dtype: object)
(162, draw_dt       2016-03-08 00:00:00
first_num                      27
second_num                     37
third_num                      54
fourth_num                     66
fifth_num                      69
mega_ball                       5
Name: 162, dtype: object)
(163, draw_dt       2016-03-04 00:00:00
first_num                      21
second_num                     26
third_num                      33
fourth_num                     48
fifth_num                      73
mega_ball                      14
Name: 163, dtype: object)
(164, draw_dt       2016-03-01 00:00:00
first_num                       1
second_num                     29
third_num                      33
fourth_num                     34
fifth_num                      55
mega_ball                       6
Name: 164, dtype: object)
(165, draw_dt       2016-02-26 00:00:00
first_num                       3
second_num                     15
third_num                      19
fourth_num                     62
fifth_num                      74
mega_ball                      14
Name: 165, dtype: object)
(166, draw_dt       2016-02-23 00:00:00
first_num                      16
second_num                     32
third_num                      39
fourth_num                     53
fifth_num                      57
mega_ball                      10
Name: 166, dtype: object)
(167, draw_dt       2016-02-19 00:00:00
first_num                       2
second_num                     27
third_num                      41
fourth_num                     50
fifth_num                      75
mega_ball                       4
Name: 167, dtype: object)
(168, draw_dt       2016-02-16 00:00:00
first_num                       9
second_num                     31
third_num                      33
fourth_num                     46
fifth_num                      64
mega_ball                       4
Name: 168, dtype: object)
(169, draw_dt       2016-02-12 00:00:00
first_num                       1
second_num                      7
third_num                      44
fourth_num                     68
fifth_num                      73
mega_ball                       1
Name: 169, dtype: object)
(170, draw_dt       2016-02-09 00:00:00
first_num                       3
second_num                     42
third_num                      46
fourth_num                     56
fifth_num                      71
mega_ball                      13
Name: 170, dtype: object)
(171, draw_dt       2016-02-05 00:00:00
first_num                       4
second_num                      6
third_num                      23
fourth_num                     55
fifth_num                      75
mega_ball                       2
Name: 171, dtype: object)
(172, draw_dt       2016-02-02 00:00:00
first_num                       7
second_num                     13
third_num                      25
fourth_num                     51
fifth_num                      70
mega_ball                       9
Name: 172, dtype: object)
(173, draw_dt       2016-01-29 00:00:00
first_num                      20
second_num                     28
third_num                      49
fourth_num                     51
fifth_num                      52
mega_ball                       6
Name: 173, dtype: object)
(174, draw_dt       2016-01-26 00:00:00
first_num                      14
second_num                     27
third_num                      39
fourth_num                     50
fifth_num                      69
mega_ball                       2
Name: 174, dtype: object)
(175, draw_dt       2016-01-22 00:00:00
first_num                      21
second_num                     25
third_num                      40
fourth_num                     46
fifth_num                      56
mega_ball                       3
Name: 175, dtype: object)
(176, draw_dt       2016-01-19 00:00:00
first_num                       2
second_num                     17
third_num                      31
fourth_num                     39
fifth_num                      47
mega_ball                       9
Name: 176, dtype: object)
(177, draw_dt       2016-01-15 00:00:00
first_num                      29
second_num                     41
third_num                      53
fourth_num                     54
fifth_num                      70
mega_ball                      12
Name: 177, dtype: object)
(178, draw_dt       2016-01-12 00:00:00
first_num                      15
second_num                     27
third_num                      29
fourth_num                     31
fifth_num                      48
mega_ball                      15
Name: 178, dtype: object)
(179, draw_dt       2016-01-08 00:00:00
first_num                      11
second_num                     39
third_num                      51
fourth_num                     57
fifth_num                      75
mega_ball                       2
Name: 179, dtype: object)
(180, draw_dt       2016-01-05 00:00:00
first_num                       1
second_num                      4
third_num                      36
fourth_num                     48
fifth_num                      57
mega_ball                      13
Name: 180, dtype: object)
(181, draw_dt       2016-01-01 00:00:00
first_num                       7
second_num                     18
third_num                      37
fourth_num                     38
fifth_num                      39
mega_ball                       9
Name: 181, dtype: object)
(182, draw_dt       2015-12-29 00:00:00
first_num                      20
second_num                     25
third_num                      55
fourth_num                     62
fifth_num                      74
mega_ball                       7
Name: 182, dtype: object)
(183, draw_dt       2015-12-25 00:00:00
first_num                      15
second_num                     25
third_num                      29
fourth_num                     44
fifth_num                      51
mega_ball                       4
Name: 183, dtype: object)
(184, draw_dt       2015-12-22 00:00:00
first_num                      11
second_num                     21
third_num                      40
fourth_num                     50
fifth_num                      70
mega_ball                      15
Name: 184, dtype: object)
(185, draw_dt       2015-12-18 00:00:00
first_num                       6
second_num                     23
third_num                      24
fourth_num                     28
fifth_num                      62
mega_ball                       7
Name: 185, dtype: object)
(186, draw_dt       2015-12-15 00:00:00
first_num                      18
second_num                     25
third_num                      47
fourth_num                     51
fifth_num                      61
mega_ball                       5
Name: 186, dtype: object)
(187, draw_dt       2015-12-11 00:00:00
first_num                      14
second_num                     20
third_num                      43
fourth_num                     54
fifth_num                      69
mega_ball                       5
Name: 187, dtype: object)
(188, draw_dt       2015-12-08 00:00:00
first_num                       7
second_num                     17
third_num                      37
fourth_num                     49
fifth_num                      73
mega_ball                      15
Name: 188, dtype: object)
(189, draw_dt       2015-12-04 00:00:00
first_num                      26
second_num                     42
third_num                      47
fourth_num                     61
fifth_num                      73
mega_ball                       6
Name: 189, dtype: object)
(190, draw_dt       2015-12-01 00:00:00
first_num                       5
second_num                      7
third_num                      25
fourth_num                     50
fifth_num                      59
mega_ball                      12
Name: 190, dtype: object)
(191, draw_dt       2015-11-27 00:00:00
first_num                      16
second_num                     20
third_num                      39
fourth_num                     56
fifth_num                      59
mega_ball                      12
Name: 191, dtype: object)
(192, draw_dt       2015-11-24 00:00:00
first_num                       2
second_num                     19
third_num                      30
fourth_num                     38
fifth_num                      70
mega_ball                       8
Name: 192, dtype: object)
(193, draw_dt       2015-11-20 00:00:00
first_num                       9
second_num                     12
third_num                      29
fourth_num                     37
fifth_num                      67
mega_ball                      15
Name: 193, dtype: object)
(194, draw_dt       2015-11-17 00:00:00
first_num                      12
second_num                     14
third_num                      18
fourth_num                     24
fifth_num                      61
mega_ball                      10
Name: 194, dtype: object)
(195, draw_dt       2015-11-13 00:00:00
first_num                      17
second_num                     18
third_num                      31
fourth_num                     35
fifth_num                      59
mega_ball                       9
Name: 195, dtype: object)
(196, draw_dt       2015-11-10 00:00:00
first_num                       8
second_num                     17
third_num                      20
fourth_num                     45
fifth_num                      71
mega_ball                       4
Name: 196, dtype: object)
(197, draw_dt       2015-11-06 00:00:00
first_num                      10
second_num                     31
third_num                      35
fourth_num                     50
fifth_num                      72
mega_ball                       8
Name: 197, dtype: object)
(198, draw_dt       2015-11-03 00:00:00
first_num                      16
second_num                     29
third_num                      44
fourth_num                     69
fifth_num                      74
mega_ball                      12
Name: 198, dtype: object)
(199, draw_dt       2015-10-30 00:00:00
first_num                      17
second_num                     41
third_num                      51
fourth_num                     53
fifth_num                      56
mega_ball                      15
Name: 199, dtype: object)
(200, draw_dt       2015-10-27 00:00:00
first_num                       9
second_num                     26
third_num                      27
fourth_num                     29
fifth_num                      74
mega_ball                       4
Name: 200, dtype: object)
(201, draw_dt       2015-10-23 00:00:00
first_num                      25
second_num                     32
third_num                      37
fourth_num                     45
fifth_num                      70
mega_ball                       1
Name: 201, dtype: object)
(202, draw_dt       2015-10-20 00:00:00
first_num                       6
second_num                     25
third_num                      35
fourth_num                     38
fifth_num                      52
mega_ball                       4
Name: 202, dtype: object)
(203, draw_dt       2015-10-16 00:00:00
first_num                       2
second_num                     38
third_num                      48
fourth_num                     61
fifth_num                      68
mega_ball                       4
Name: 203, dtype: object)
(204, draw_dt       2015-10-13 00:00:00
first_num                       7
second_num                      9
third_num                      24
fourth_num                     38
fifth_num                      52
mega_ball                       1
Name: 204, dtype: object)
(205, draw_dt       2015-10-09 00:00:00
first_num                       8
second_num                      9
third_num                      21
fourth_num                     63
fifth_num                      75
mega_ball                      14
Name: 205, dtype: object)
(206, draw_dt       2015-10-06 00:00:00
first_num                      17
second_num                     58
third_num                      63
fourth_num                     64
fifth_num                      66
mega_ball                      13
Name: 206, dtype: object)
(207, draw_dt       2015-10-02 00:00:00
first_num                       4
second_num                     14
third_num                      29
fourth_num                     31
fifth_num                      47
mega_ball                       9
Name: 207, dtype: object)
(208, draw_dt       2015-09-29 00:00:00
first_num                       8
second_num                     21
third_num                      30
fourth_num                     61
fifth_num                      62
mega_ball                       9
Name: 208, dtype: object)
(209, draw_dt       2015-09-25 00:00:00
first_num                       3
second_num                      8
third_num                      38
fourth_num                     51
fifth_num                      64
mega_ball                       4
Name: 209, dtype: object)
(210, draw_dt       2015-09-22 00:00:00
first_num                      28
second_num                     30
third_num                      38
fourth_num                     45
fifth_num                      51
mega_ball                       8
Name: 210, dtype: object)
(211, draw_dt       2015-09-18 00:00:00
first_num                      17
second_num                     34
third_num                      35
fourth_num                     51
fifth_num                      65
mega_ball                       7
Name: 211, dtype: object)
(212, draw_dt       2015-09-15 00:00:00
first_num                       7
second_num                     20
third_num                      35
fourth_num                     49
fifth_num                      56
mega_ball                       9
Name: 212, dtype: object)
(213, draw_dt       2015-09-11 00:00:00
first_num                       5
second_num                     11
third_num                      31
fourth_num                     50
fifth_num                      67
mega_ball                      14
Name: 213, dtype: object)
(214, draw_dt       2015-09-08 00:00:00
first_num                      19
second_num                     20
third_num                      36
fourth_num                     41
fifth_num                      46
mega_ball                       7
Name: 214, dtype: object)
(215, draw_dt       2015-09-04 00:00:00
first_num                      17
second_num                     21
third_num                      39
fourth_num                     52
fifth_num                      57
mega_ball                       5
Name: 215, dtype: object)
(216, draw_dt       2015-09-01 00:00:00
first_num                       2
second_num                      5
third_num                      35
fourth_num                     40
fifth_num                      54
mega_ball                      13
Name: 216, dtype: object)
(217, draw_dt       2015-08-28 00:00:00
first_num                      13
second_num                     35
third_num                      40
fourth_num                     60
fifth_num                      68
mega_ball                       9
Name: 217, dtype: object)
(218, draw_dt       2015-08-25 00:00:00
first_num                       5
second_num                     44
third_num                      54
fourth_num                     59
fifth_num                      63
mega_ball                       1
Name: 218, dtype: object)
(219, draw_dt       2015-08-21 00:00:00
first_num                      13
second_num                     15
third_num                      21
fourth_num                     41
fifth_num                      72
mega_ball                       1
Name: 219, dtype: object)
(220, draw_dt       2015-08-18 00:00:00
first_num                       2
second_num                      7
third_num                      33
fourth_num                     39
fifth_num                      53
mega_ball                       9
Name: 220, dtype: object)
(221, draw_dt       2015-08-14 00:00:00
first_num                      12
second_num                     15
third_num                      20
fourth_num                     52
fifth_num                      71
mega_ball                       3
Name: 221, dtype: object)
(222, draw_dt       2015-08-11 00:00:00
first_num                       3
second_num                      8
third_num                      29
fourth_num                     57
fifth_num                      68
mega_ball                       8
Name: 222, dtype: object)
(223, draw_dt       2015-08-07 00:00:00
first_num                       1
second_num                     38
third_num                      53
fourth_num                     63
fifth_num                      66
mega_ball                      10
Name: 223, dtype: object)
(224, draw_dt       2015-08-04 00:00:00
first_num                       2
second_num                     19
third_num                      44
fourth_num                     51
fifth_num                      57
mega_ball                      14
Name: 224, dtype: object)
(225, draw_dt       2015-07-31 00:00:00
first_num                      28
second_num                     32
third_num                      33
fourth_num                     40
fifth_num                      46
mega_ball                      10
Name: 225, dtype: object)
(226, draw_dt       2015-07-28 00:00:00
first_num                       8
second_num                     35
third_num                      61
fourth_num                     68
fifth_num                      75
mega_ball                      15
Name: 226, dtype: object)
(227, draw_dt       2015-07-24 00:00:00
first_num                      10
second_num                     12
third_num                      26
fourth_num                     60
fifth_num                      62
mega_ball                      13
Name: 227, dtype: object)
(228, draw_dt       2015-07-21 00:00:00
first_num                      20
second_num                     30
third_num                      62
fourth_num                     65
fifth_num                      74
mega_ball                       1
Name: 228, dtype: object)
(229, draw_dt       2015-07-17 00:00:00
first_num                       6
second_num                     17
third_num                      30
fourth_num                     31
fifth_num                      41
mega_ball                      15
Name: 229, dtype: object)
(230, draw_dt       2015-07-14 00:00:00
first_num                      19
second_num                     24
third_num                      30
fourth_num                     35
fifth_num                      72
mega_ball                       5
Name: 230, dtype: object)
(231, draw_dt       2015-07-10 00:00:00
first_num                      24
second_num                     27
third_num                      45
fourth_num                     51
fifth_num                      54
mega_ball                       8
Name: 231, dtype: object)
(232, draw_dt       2015-07-07 00:00:00
first_num                       6
second_num                     15
third_num                      16
fourth_num                     28
fifth_num                      49
mega_ball                      14
Name: 232, dtype: object)
(233, draw_dt       2015-07-03 00:00:00
first_num                      33
second_num                     50
third_num                      64
fourth_num                     71
fifth_num                      72
mega_ball                       9
Name: 233, dtype: object)

In [7]:
s = set()
m = set(range(1,16))
for index, row in mm_tbl.sort_values('draw_dt', ascending=False).iterrows():
    s.add(row['mega_ball'])
    if (m - s) == set():
        dt =row['draw_dt']
        break

In [8]:
mm_tbl[mm_tbl['draw_dt'] >= dt]

,draw_dt,first_num,second_num,third_num,fourth_num,fifth_num,mega_ball
0,2017-09-26,1,10,57,66,75,4
1,2017-09-22,5,39,54,63,66,15
2,2017-09-19,9,28,31,50,61,10
3,2017-09-15,18,24,34,38,58,3
4,2017-09-12,26,37,41,54,65,3
5,2017-09-08,4,5,14,26,73,14
6,2017-09-05,11,17,59,70,72,1
7,2017-09-01,4,13,31,50,64,12
8,2017-08-29,2,13,17,35,73,3
9,2017-08-25,17,38,42,51,65,11
10,2017-08-22,24,35,46,50,51,7
11,2017-08-18,1,31,34,40,75,6
12,2017-08-15,7,16,20,66,73,7
13,2017-08-11,23,33,53,56,58,6
14,2017-08-08,11,17,50,52,74,14
15,2017-08-04,9,17,25,63,71,4
16,2017-08-01,20,22,52,57,73,7
17,2017-07-28,4,6,31,49,52,11
18,2017-07-25,2,5,26,58,60,6
19,2017-07-21,18,31,36,50,74,10
20,2017-07-18,8,12,23,51,73,6
21,2017-07-14,11,12,24,32,73,1
22,2017-07-11,7,18,24,55,74,10
23,2017-07-07,2,9,11,28,60,10
24,2017-07-04,16,39,47,53,71,15
25,2017-06-30,10,38,51,55,64,6
26,2017-06-27,4,21,45,52,57,14
27,2017-06-23,12,20,53,66,74,11
28,2017-06-20,2,15,41,49,63,3
29,2017-06-16,18,22,26,30,44,9
30,2017-06-13,27,51,62,68,75,8
31,2017-06-09,3,16,28,33,37,9
32,2017-06-06,3,5,16,49,75,5
33,2017-06-02,7,42,57,69,72,10
34,2017-05-30,5,20,32,37,67,5
35,2017-05-26,25,26,28,37,56,5
36,2017-05-23,6,13,17,33,60,14
37,2017-05-19,1,4,5,24,30,1
38,2017-05-16,4,35,39,56,72,11
39,2017-05-12,28,34,41,42,47,13
40,2017-05-09,6,29,45,69,73,11
41,2017-05-05,4,23,33,47,53,7
42,2017-05-02,5,14,42,43,58,1
43,2017-04-28,6,13,18,20,31,13
44,2017-04-25,3,13,33,40,50,2