In [1]:
#importing required modules 
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#creating column names
#loading csv file into a dataframe and assigning columns names as well
tbl_cols = ['draw_dt', 'first_num', 'second_num', 'third_num', 'fourth_num', 'fifth_num', 'mega_ball']
mm_tbl = pd.read_csv('winning_numbers_by_date_pd.txt',  header=None, names=tbl_cols, parse_dates=['draw_dt'])

In [7]:
mm_tbl.loc[mm_tbl['draw_dt'].dt.dayofweek == 1.0, 'next_draw_dt'] = mm_tbl['draw_dt'] + datetime.timedelta(3)
mm_tbl.loc[mm_tbl['draw_dt'].dt.dayofweek == 4.0, 'next_draw_dt'] = mm_tbl['draw_dt'] + datetime.timedelta(4)

In [9]:
mm_tbl.head()

,draw_dt,first_num,second_num,third_num,fourth_num,fifth_num,mega_ball,next_draw_dt
0,2017-09-29,25,51,62,73,74,7,2017-10-03
1,2017-09-26,1,10,57,66,75,4,2017-09-29
2,2017-09-22,5,39,54,63,66,15,2017-09-26
3,2017-09-19,9,28,31,50,61,10,2017-09-22
4,2017-09-15,18,24,34,38,58,3,2017-09-19