In [1]:
import pandas as pd
import numpy as np
#The basic method to create a Series:
# s = Series(data, index=index)

In [2]:
# series constructor with data as a list of integers
s1 = pd.Series([33, 19, 15, 89, 11, -5, 9])

In [3]:
# the default index, if not specified in the Series constructor, is a series of integers
s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64

In [4]:
# type of series is pandas series
type(s1)

pandas.core.series.Series

In [5]:
# retrieve the values of the series
s1.values

array([33, 19, 15, 89, 11, -5,  9])

In [6]:
# type of data values is NumPy ndarray
type(s1.values)

numpy.ndarray

In [7]:
# retrieve the indices of the array
s1.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
# type of indices ??
type(s1.index)

pandas.core.indexes.range.RangeIndex

In [9]:
# think of a series as a mapping from index to values
s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64

In [10]:
# define the data and index as lists
data1 = [33, 19, 15, 89, 11, -5, 9]
index1 = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

In [11]:
# create series 
s2 = pd.Series(data1, index=index1)

In [12]:
s2

Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
dtype: int64

In [13]:
# verify index 
s2.index

Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], dtype='object')

In [14]:
type(s2.index)

pandas.core.indexes.base.Index

In [15]:
# we can also give meaningful labels to the series data and the index

s2.name='Daily Temperatures'
s2.index.name='Weekday'

In [16]:
s2

Weekday
Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
Name: Daily Temperatures, dtype: int64

In [17]:
# the second data element in the list is a float
data2 = [33, 19.3, 15, 89, 11, -5, 9]

In [18]:
s3 = pd.Series(data2, index=index1)

In [19]:
# all the data elements are of type float
s3

Mon    33.0
Tue    19.3
Wed    15.0
Thu    89.0
Fri    11.0
Sat    -5.0
Sun     9.0
dtype: float64

In [21]:
dict1 = {'Mon': 33, 'Tue': 19, 'Wed': 15, 'Thu': 89, 'Fri': 11, 'Sat': -5, 'Sun': 9}

In [22]:
s4 = pd.Series(dict1)

In [23]:
s4

Fri    11
Mon    33
Sat    -5
Sun     9
Thu    89
Tue    19
Wed    15
dtype: int64